asgiref==3.8.1
colorama==0.4.6
distlib==0.3.9
Django==5.1.7
django-cors-headers==4.7.0
djangorestframework==3.16.0
filelock==3.18.0
Menu==3.2.2
platformdirs==4.3.7
psycopg2==2.9.9
pygame==2.5.2
pygame-menu==4.4.3
pyperclip==1.8.2
python-decouple==3.8
pytz==2025.2
qrcode==8.0
sqlparse==0.5.3
typing_extensions==4.11.0
tzdata==2025.1
virtualenv==20.29.3
